.category-button {
    background-color: white;
    color: black;
    line-height: 150px;
    width: 200px;
    text-align: center;
    font-size: 24px;
}

.category-button:hover {
    transition-duration: 0.1s;
    background-color: grey;
    color: white;
}