.banner {
    background-color: #00704A;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    width: 1920px;
}

.starbucks-logo {
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 24px;
}

.weather-time {
    background-color: white;
    color: black;
    line-height: 100px;
    width: 600px;
    text-align: center;
    font-size: 24px;
}

.button {
    background-color: white;
    color: black;
    line-height: 100px;
    min-width: 200px;
    text-align: center;
    font-size: 24px;
}

.button:hover {
    transition-duration: 0.1s;
    background-color: grey;
    color: white;
}

.info-box {
    background-color: white;
    color: black;
    line-height: 100px;
    width: 200px;
    text-align: center;
    font-size: 24px;
}