.background {
    background-color: black;
    height: 100%;
    display: inline-block;
}

h1 {
    color: white;
    font-size: 70pt;
    text-align: left;
    line-height: 20px;
    display: inline-block;
    margin-top: 40pt;
    margin-left: 50pt;
}

h2 {
    color: white;
    font-size: 50pt;
    line-height: 30pt;
}

body {
    display: inline-flex;
}

.menu-items {
    color: white;
    font-size: 30pt;
    text-align: left;
    line-height: 10px;
    margin: 30px;
    display: inline-block;
}

.menu-prices {
    color: white;
    font-size: 30pt;
    text-align: right;
    line-height: 10px;
    margin: 30px;
    display: inline-block;
}