.background {
    background: repeating-linear-gradient(45deg, #000000, #000000 50px, #111111 50px, #111111 100px);
    height: 100%;
    width: 100%;
    display: inline-block;
    margin: 20px;
}

h1 {
    color: white;
    font-size: 70pt;
    text-align: left;
    line-height: 20px;
    display: inline-block;
}

h2 {
    color: white;
    font-size: 50pt;
    line-height: 30pt;
}

body {
    display: inline-flex;
}

.menu-items {
    color: white;
    font-size: 30pt;
    text-align: left;
    line-height: 10px;
    margin: 30px;
    display: inline-block;
}

.menu-prices {
    color: white;
    font-size: 30pt;
    text-align: right;
    line-height: 10px;
    margin: 30px;
    display: inline-block;
}

.center {
    text-align: center;
}

.weather-time {
    background-color: white;
    color: black;
    line-height: 150px;
    width: 600px;
    text-align: center;
    font-size: 24px;
    display: inline-block;
    margin: 10px;
}

.back {
    background-color: white;
    color: black;
    line-height: 75px;
    width: 300px;
    text-align: center;
    font-size: 24px;
    display: inline-block;
    margin: 10px;
}
