/*Banner and Footer*/
.banner {
    background-color: #012601;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    width: 1920px;
}

.starbucks-logo {
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 24px;
}

.weather-time {
    background-color: black;
    color: cyan;
    line-height: 100px;
    width: 600px;
    text-align: center;
    font-size: 24px;
}

.banner-button {
    background-color: black;
    color: cyan;
    line-height: 100px;
    min-width: 200px;
    text-align: center;
    font-size: 24px;
}

.banner-button:hover {
    transition-duration: 0.1s;
    background-color: slategray;
    color: cyan;
}

.banner-info-box {
    background-color: black;
    color: cyan;
    line-height: 100px;
    width: 200px;
    text-align: center;
    font-size: 24px;
}


/*Body*/
.body {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    height: 840px;
    width: 1920px;
}

.body-info-box {
    background-color: black;
    color: cyan;
    line-height: 150px;
    min-width: 200px;
    text-align: center;
    font-size: 24px;
}

.body-button {
    background-color: black;
    color: cyan;
    line-height: 150px;
    min-width: 200px;
    text-align: center;
    font-size: 24px;
}

.body-button:hover {
    transition-duration: 0.1s;
    background-color: slategray;
    color: cyan;
}

.blink {
    animation: blink 1s ease-in-out;
}

@keyframes blink {
    0%, 100% {
        background-color: cornflowerblue;
    }
    25%, 50% {
        background-color: #ffd96c;
    }
}


/*Finalize*/
.background {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    height: 960px;
    width: 1920px;
}

.order-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: space-around;
    align-items: center;
    height: 620px;
    width: 400px;
}

.order {
    background-color: black;
    color: cyan;
    height: 500px;
    width: 400px;
}

.final-info-box-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    width: 400px;
}

.final-info-box {
    background-color: black;
    color: cyan;
    line-height: 90px;
    width: 200px;
    text-align: center;
    font-size: 16px;
}

.back-button {
    background-color: black;
    color: cyan;
    line-height: 150px;
    width: 200px;
    text-align: center;
    font-size: 24px;
}

.back-button:hover {
    transition-duration: 0.1s;
    background-color: slategray;
    color: cyan;
}

.confirm-order-button {
    background-color: black;
    color: cyan;
    line-height: 150px;
    width: 200px;
    text-align: center;
    font-size: 24px;
}

.confirm-order-button:hover {
    transition-duration: 0.1s;
    background-color: slategray;
    color: cyan;
}

.buffer {
    height: 50px;
}


/*Thank You*/
.thanks {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    height: 960px;
    width: 1920px;
}

.text-box {
    background-color: black;
    color: cyan;
    line-height: 150px;
    width: 1000px;
    text-align: center;
    font-size: 24px;
}

.customer-view-button {
    background-color: black;
    color: cyan;
    line-height: 150px;
    width: 1000px;
    text-align: center;
    font-size: 24px;
}

.customer-view-button:hover {
    transition-duration: 0.1s;
    background-color: slategray;
    color: cyan;
}