:root {
    --banner-bg-color: #00704A;
    --body-bg-color: bisque;
    --box-button-bg-color: white;
    --hover-box-button-bg-color: grey;
    --text-color: black;
    --hover-text-color: white;
    font-family: "Atkinson-Regular";
}

.manager-banner {
    background-color: var(--banner-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    height: 120px;
    width: 1920px;
    z-index: 100 !important;
}

.manager-body-container {
    display: flex;
    background-color: var(--body-bg-color);
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 960px;
    position: relative;
    top: 120px;
}

.manager-navbar-container {
    display: flex;
    background-color: #00704A;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    top: 120px;
    min-height: 960px;
    width: 240px;
}

.manager-navbar-container h3 {
    font-size: 24px;
}

.manager-navbar-button {
    background-color: var(--box-button-bg-color);
    color: var(--text-color);
    line-height: 70px;
    min-width: 150px;
    text-align: center;
    font-size: 24px;
    font-family: "Atkinson-Regular";
}

.manager-navbar-button:hover {
    transition-duration: 0.1s;
    background-color: var(--hover-box-button-bg-color);
    color: var(--hover-text-color);
    transform: scale(1.1);
}