.order-list-table {
    border:1px solid;
    width: 100%;
}

.current-order-list {
    background-color: bisque;
    text-align: center;
    align-items: center;
    width: 400px;
    min-height: 976px;
    border: 3px solid;
}

#shadowbox {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.2);
    border: 3px solid;
}

.current-order-list h2 {
    font-size: 24px;
}

.rainbow {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    font-family: monospace;
    letter-spacing: 5px;
}

.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}


@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.server-banner {
    background-color: #00704A;
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 150;
}

.server-body-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 820px;
    position: relative;
    top: 120px;
}

.server-body-container-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 405px;
    min-height: 980px;
    position: fixed;
    left: 0;
}

.server-body-container-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 1035px;
    min-height: 980px;
    position: relative;
    left: 405px;
}

.server-category-bar {
    background-color: bisque;
    outline: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    font-size: 24px;
    min-width: 1029px;
    height: 96px;
    border: 3px solid;
    position: fixed;
    top: 120px;
    z-index: 100 !important;
}

.server-container-below-categories {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 960px;
}

.server-addons {
    background-color: bisque;
    display: flex;
    width: 474px;
    min-height: 976px;
    justify-content: space-around;
    font-size: 24px;
    border: 3px solid;
    position: fixed;
    right: 0;
}

.server-weather-time {
    background-color: grey;
    color: black;
    line-height: 80px;
    width: 500px;
    text-align: center;
    font-size: 24px;
}

.server-input-employee {
    color: white;
}

.menu-item-buttons {
    background-color: bisque;
    height: 876px;
    border: 3px solid;
    min-width: 796px;
    min-height: 2400px;
    position: relative;
    top: 100px;
}

/* CSS */
.button-6 {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    min-width: 16rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button-6:hover,
.button-6:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
    transform: translateY(-1px);
}

.button-6:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

/* CSS */
.button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: deepskyblue;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button-5:hover,
.button-5:focus {
    background-color: #5cf1bf;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
    transform: translateY(-1px);
}

.button-5:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

