.thanks {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    height: 648px;
    width: 1920px;
}

.text-box {
    background-color: white;
    color: black;
    line-height: 150px;
    width: 1000px;
    text-align: center;
    font-size: 24px;
}

.customer-view-button {
    background-color: white;
    color: black;
    line-height: 150px;
    width: 1000px;
    text-align: center;
    font-size: 24px;
}

.customer-view-button:hover {
    transition-duration: 0.1s;
    background-color: grey;
    color: white;
}